html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #050505;
  color: #fffbeb;
  overflow-x: hidden;
}
h1, h2, h3, .font-heading {
  font-family: 'Syncopate', sans-serif;
}